cssselect
diff-cover!=9.4.0
django-webtest
faker
ldaptools>=0.24
lxml
Markdown<3
nox
numpy
psycopg2-binary
pymemcache
pyquery
pytest
pytest-cov
pytest-django
pytest-freezer
pytest-random-order
pytest-xdist
pytz
responses
uwsgidecorators
git+https://git.entrouvert.org/entrouvert/gadjo.git@main
git+https://git.entrouvert.org/entrouvert/django-mellon.git
pyasn1>=0.6.2 # not directly required, pinned by Snyk to avoid a vulnerability
